<div id="bottomBar">
    <div class="row">
        <div class="small-6 large-2 columns right">
            <button type="submit" 
                class="button tiny no-margin-custom expand" 
                ng-click="save()"
                id="continueButton"
                data-i18n="common.save">
            </button>
        </div>
        <div class="small-6 large-2 columns right">
            <a class="button tiny secondary no-margin-custom expand" 
            	href="/#/users"
                id="backButton"
                data-i18n="common.cancel">
            </a>
        </div>
    </div>
</div>